footer{
    background-color: $primary;
    padding: $px-1;
    text-align:left;
    font-size: $textSmall;
}
.color{
    color:orangered;
}
.color__font{
    font-family: 'Roboto';
    font-style: italic;
}